@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');


@media (max-width: 800px) {

    /* home */
    .imagen1{
        margin: 0;
        display: none;
    }
    main .proyectos .referencia:hover .imagen1{
        display:none;
        margin-left: 0;
        transform: scaleX(0);
    
    }
    main .proyectos .referencia:hover .imagen2{
        display:none;
        margin-left: 0;
        transform: scaleX(0);
    
    }
    main .proyectos .referencia:hover .imagen3{
        display:none;
        margin-left: 0;
        transform: scaleX(0);
    
    }
    .imagen2{
        margin: 0;
        display: none;
    }
    .imagen3{
        margin: 0;
        display: none;
    }
    main .imageningreso{
        display: none;
    }
    main .diseñador{
        font-size: 4vw;
    }
    main .textoingreso p{
        font-size: 2.5vw;
    }
    main .seccionboton0 {
        display: none;
    }
    main .linkgit{
      
        margin-top: 8vw;
    }
    main .linkgit a{
        font-size: 2vw;
    }
    main .fondo2 p{
        font-size: 2.5vw;
    }

    /* about me */
   header .menu a{
        display: none;
        
    }
    main .primerseccion p{
        font-size: small;   
        line-height: normal;
        margin-left: 10vw;
        width: 80vw;
    }
    main .primerseccion .imagen{
        margin-bottom: 10vw;
    }
    main .primerseccion h1{
        font-size: 4.5vw;
    }
    main .tercerseccion h4{
        font-size: 3.5vw;
}
}

*{
    margin: 0;
    padding:0;
}
body{
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
    width: 100vw;
}
/* personalizacion de barra para firefox */
.proyectos::-webkit-scrollbar {
  display:none
  }

.proyectos {
    scrollbar-width: none;
  }
  html{
    /* -ms-overflow-style: none; */
    scrollbar-color: #e4e3e3 #FFFFFF;
    scrollbar-width: thin;
    width: 100vw;
  }


/* header */


.menu{
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    animation-name: menufijo;
    animation-fill-mode: forwards;
    animation-delay: 9s;
    display: flex;
    width: 100vw;
}
.menu img{
    width: 5vw;
    height: 5vw;
    margin-right: 60vw;
}

.menuindividual{
    position: relative;
    text-align: center;
    margin-right: 10px;
    width: 80px;
    margin-top: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #393939;
    font-size: small;
    height: 2vw;
}
.menuindividual img{
    position: absolute;
    width: 0.8vw;
    height: 0.8vw;
    left: 45%;
    display: none;

}
.menuindividual:hover img{
    display: inline;
    color: black;
}
.menuindividual:hover p{
    color: black;
}

/* main */

.principal{
    margin-top: 8vw;
    width: 100vw;
}

.principalfondo{
    background-color: #F9F9F9;
    height: 40vw;
    width: 100vw;
}
.principal2{
    position: absolute;
    z-index: 1;
    background-color: transparent;
    display: flex;
    padding-left: 15vw;

}

.material-symbols-outlined { /*flehca*/
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding-top: 5px;
  opacity: 0.7;
}

.redondo{
    position: absolute;
    z-index: -10;
    left: 40vw;
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 35vw;
    height: 35vw;
}
.imageningreso{
    margin-top: 3vw;
    margin-left: 15vw;
    width: 20vw;
    height: 30vw;
    border-radius: 100%;
}
.fondo2{
    position: relative;
    background-color: #FFFFFF;
    height:30vw;
}
.fondo2 h1{
    position: absolute;
    top: 40%;
    left: 15%;
    line-height: 20px;
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 5vh;
    display: inline;
}

.fondo2 p{
    position: absolute;
    top: 50%;
    left: 15%;
    color: #393939;
    margin-top: 10px;
    font-size: small;
    line-height: 4vh;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 50,
    'opsz' 48;
    position: absolute;
    top: 40%;
    left: 40%;

  }
.linkgit{
    margin-top: 15vw;
}
.mitrabajo{
    display: flex;
    width: 10vw;
    font-size: small;
    font-weight: bold;
    color: #393939;
    text-decoration: none;
    margin-top:.6vw;
}

.seccionboton0{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 3vw;
    width: 13vw;
    margin-top: 7vw;
}
.boton0{
    position: absolute;
    z-index: -1;
    padding:8px;
    border-radius: 100%;
    background-color: #e4e3e3;
    width: 150px;
    height: 20px;
    transform: scaleX(.3) translateX(-15vw);
    transition: 1s;
}
.seccionboton0:hover .boton0{

    border-radius: 50px / 50px;
    transform: translate(0) scale(1) ;
}

.botonfooter:hover a{
    color: #363636;
}



.textoingreso a{
    font-size: small;
    color: #393939;
    text-decoration: underline;

}
.textoingreso p{
    font-size: small;
    line-height: 3vw;
    color: #393939;

}
.separador{
    display: inline;
    margin: 0 1.5vw;
}

.diseñador{
    line-height: 5vw;
    margin-top: 2vw;
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 3vw;
}

/* Presentacion */
.presentacion{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    animation-name: presentacion;
    animation-delay: 9s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;

}
.nombre{
    font-weight: 400;
    width: 100vw;
    color: #F9F9F9;
    animation-duration: 2s;
    text-align: center;
    animation-name: nombre;
    margin-top:42vh;
    margin-bottom: 3vh;
}
.partearriba{
    background-color: #393939;
    width: 100vw;
    height: 50vh;
    animation-name: partearriba;
    animation-delay: 7.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}
.parteabajo{
    background-color: #393939;
    width: 100vw;
    height: 50vh;
    animation-name: parteabajo;
    animation-delay: 7.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.linea1{
    position: absolute;
    z-index: 0;
    padding-left:10vw ;
    width: 0vw;
    margin:0 45vw;
    opacity: 0.2;
    border-top: 4px solid #F9F9F9;
    animation-duration: 2s;
    animation-name:linea1;
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
}
 .linea2{
    margin:0 45vw;
    border-top: 4px solid #F9F9F9;
    animation-duration: 3s;
    animation-name:linea2;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    opacity:0;
    color: #393939;
}

/* Main/proyectos */
.imagen1{
    width: 40vw;
    transform: scaleX(0);
    margin-left: 100vw;
    transition: 1s;
}
.imagen2{
    width: 500px;
    transform: scaleX(0);
    margin-left: 100vw;
    transition: 1s;
}
.imagen3{
    width: 500px;
    transform: scaleX(0);
    margin-left: 100vw;
    transition: 1s;
}
.proyectos{
    height: 600px;
}
.numero{
    color: #393939;
    margin: 0 1vw;
}
.numerogrande{
    position: absolute;
    left: 25vw;
    color: #393939;
    opacity: 0.5;
    font-size: 8vw;
    transform: scale(0);
    transition: 0.5s;
    font-weight: 600;
}

.referencia{
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    height: 200px;
    color: #393939;
    border-top: 0.1px solid #dad8d8;
    border-bottom:0.1px solid #dad8d8 ;
}
.seccionbotonreferencia{
    display: flex;
    position: absolute;
    z-index: 9;
    left: 70vw;
    width: 190px;
}
.referencia a{
    text-decoration: none;
    color: #393939;
    font-size: small;
    font-weight: 600;
    transition: 0.5s;
    margin-right: 7px;
    margin-top: 7.5px;

}
.boton{
    position: absolute;
    z-index: 9;
    left: 69vw;
    padding:8px;
    border-radius: 100%;
    background-color: #e4e3e3;
    width: 130px;
    height: 20px;
    transform: scaleX(.3) translateX(-200px);
    transition: 1s;

}

.referencia:hover .boton{
    border-radius: 50px / 50px;
    transform: translate(0) scale(1) ;
    background-color:  #e4e3e3;
}

.referencia:hover{
    background-color: #FFFFFF;
    color: black;
    font-size: 25px;
}
.referencia:hover .linea{
    width: 220px;
}
.referencia:hover .imagen1{
    display:inline;
    margin-left: 30vw;
    transform: scaleX(1);

}
.referencia:hover .imagen2{
    display:inline;
    margin-left: 30vw;
    transform: scaleX(1);

}
.referencia:hover .imagen3{
    display:inline;
    margin-left: 30vw;
    transform: scaleX(1);

}
.referencia:hover .numerogrande{
    transform: scale(1);
}
.linea{
    text-decoration-line: line-through;
    text-decoration-color: black;
    color: #FFFFFF;
    width: 150px;
    transition: 1s;
}


.seccionmasproyectos{

    background-color: #FFFFFF;
    height: 20vw;
    padding: 100px 12vw;
}
.seccionmasproyectos p{
    color: #393939;
    font-size: small;
    margin-bottom: 15px;
    margin-top: 50px;
}
.seccionmasproyectos h1{
    line-height: 20px;
    font-size: 3vw;
    font-weight: 600;
}
.seccionmasproyectos a{
    text-decoration: none;
    color: #272727;
}
footer{
    position: relative;
    color: #FFFFFF;
    background-color: #272727;
    height: 30vw;
    padding-top: 10vw;

}
.botonfooter{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 16vw;
    left: 42%;
    position: absolute;
    z-index: 3;
}

.boton1{
    position: absolute;
    z-index: -1;
    padding:1vw;
    border-radius: 100%;
    background-color: #363636;
    width: 8vw;
    height: 1vw;
    transform: scaleX(.3) translateX(-10vw);
    transition: 1s;
}

.botonfooter:hover .boton1{
    border-radius: 50px / 50px;
    transform: translate(0) scale(1) ;
}

.botonfooter:hover a{
    color: #FFFFFF;
}

.pie{
    text-align: center;
}
.pie h1{
    margin-bottom: 2vw;
    font-size: 3vw;
    font-weight: 600;
}
.pie p{
    font-size: small;
    margin-bottom: 8vw;
}
.pie a{
    /* position: absolute;
    z-index: 3; */
    margin-top: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    color: #FFFFFF;
}
.pieB p{
    position: absolute;
    bottom: 0;
    left: 42%;
    text-align: center;
    font-size:x-small;
}
@keyframes menufijo {

    100%{
        position: fixed;
        top: 0;
        z-index: +20;

    } 

 }
@keyframes presentacion {
    0%{ opacity: 0;
        position: absolute;
        z-index: -100;
        transform: scale(0);
        opacity: 0;
    }

    100%{
         position: absolute;
        z-index: -100;
        transform: scale(0);
        opacity: 0;
    }
    }
@keyframes partearriba {
    0%{  }

    100%{
        transform: translateY(-100%);
        opacity: 0.2;
    }
    }
@keyframes parteabajo {
        0%{   }

        100%{
        transform: translateY(100%);
        opacity: 0.2;
        }
        }

@keyframes linea1 {
    0%{

    }
    100%{
        opacity: 1;
        margin: 0;
        width: 100vw;
    }
}
@keyframes linea2 {
    0%{
        margin-right: 100%;
    }

    100%{

       opacity: 0.5;
    }

}
@keyframes nombre {
    0%{
        transform:scale(1.8);
        opacity:0;
    }

}


/* acerca de */

.primerseccion{
    padding: 8vw 0;;
}
.primerseccion h1{
    font-size: 3.5vw;
    margin-left: 20vw;
    font-weight: lighter;
    line-height: 6vw;
    margin-bottom: 10vw;
}
.resaltado{
    font-weight: 600;
}
.imagen{
    width: 20vw;
    margin-left: 10vw;
}
.primerseccion p{
    margin-left: 50vw;
    font-size: large;
    line-height: 3.5vw;
    width: 45vw;
}
.letras{
    position: relative;
    background-color: #181818;
    height: 30vw;
    width: 100vw;
    padding:1vw 0;
    overflow-x: hidden;
}
.letras h1{
    white-space: nowrap;
    position: absolute;
    left: -2vw;
    font-size: 5vw;
    color:  #181818;
    text-shadow: -0.5px -0.5px 0 #F9F9F9, 0.5px 0.5px 0 #F9F9F9, 0.5px -1px 0 #F9F9F9;
    opacity: 0.8;
    margin-top: 2vw;
}
.letras h1 span{
    margin: 0 4vw;
}
.letras .h11{
    position: absolute;
    left: -2vw;
    top: 10vw;
}
.letras .h111{
    position: absolute;
    left: -2vw;
    top: 20vw;
}
.segundaseccion{
    background-color: #FFFFFF;
    padding: 13vw 0;
}
.segundaseccion h1{
    font-size: 3.5vw;
    margin-left: 20vw;
}
.segundaseccion p{
    margin-top: 4vw;
    margin-left: 50vw;
    font-size: small;
    line-height: 3.5vw;
    width: 45vw;
    
}
.tercerseccion{
    padding: 150px 0;
}
.tercerseccion h1{
    font-size: 3.5vw;
    margin-left: 20vw;
}
.tercerseccion p{
    margin-top: 4vw;
    margin-left: 50vw;
    font-size: small;
    line-height: 3.5vw;
    width: 45vw;
}
.tercerseccion li{
    margin-top: 0.5vw;
    margin-left: 50vw;
    font-size: small;
    line-height: 3.5vw;
    width: 45vw;
    list-style: none;
}
.tercerseccion h4{
    font-size: 1.5vw;
    margin-top: 1.5vw;
    margin-left: 50vw;
    width: 30vw;
    text-decoration: none;
}

.cuartaseccion{
    background-color: #FFFFFF;
    /* padding: 150px 0; */
    height: 40vw;
    width: 100vw;
    position: relative;

}
.cuartaseccion h1{
    text-align: center;
    font-size: 3.5vw;
    position: absolute;
    z-index: 2;
    top: 40%;
}
.cuartaseccion p{
    /* margin-top: 40px; */
    text-align: end;
    font-size: small;
    line-height: 3.5vw;
    margin-right: 10vw;
    position: absolute;
    z-index: 2;
    top: 60%;
    right: 10%;

}
.cuartaseccion .redondo2{
    width: 30vw;
    height: 30vw;
    border-radius:100%;
    border: 1px solid black;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 13%;
}
.redondo2 .redondochico{
    width: 15vw;
    height: 15vw;
    border-radius:100%;
    border: 1px solid black;
    background-color: #FFFFFF;
    position: absolute;
    left: 24%;
    top: 24%;
}
.piedeaboutme{
    margin: 0;
}